:host {
  display: block;
}

:host([data-type='bot']) .juno-chat-bubble {
  background-color: #f1f5f9;
  color: #0f172b;
  border-radius: 0 10px 10px 10px;
}
:host([data-type='user']) .juno-chat-bubble {
  background-color: #212529;
  color: #fff;
  border-radius: 10px 10px 0 10px;
  margin-left: auto;
}

.juno-chat-bubble {
  padding: 12px 16px;
  width: fit-content;
  min-width: 2ch;
  p {
    margin: 0;
  }
}
